<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Christmas">
    <item>
      <listing>Christmas Radiance</listing>
      <price>36.99</price>
    </item>
    <item deal="true">
      <listing>Christmas Paradise</listing>
      <price>34.99</price>
    </item>
    <item>
      <listing>Winter Wonderland</listing>
      <price>39.99</price>
    </item>
  </category>
  <category name="Birthday">
    <item>
      <listing>Birthday Bouquet</listing>
      <price>49.99</price>
    </item>
    <item>
      <listing>Nativity</listing>
      <price>54.99</price>
    </item>
    <item deal="true">
      <listing>Sweetness Light</listing>
      <price>49.99</price>
    </item>
  </category>
  <category name="Anniversary">
    <item>
      <listing>The Orient</listing>
      <price>42.99</price>
    </item>
    <item>
      <listing>Fireside</listing>
      <price>37.99</price>
    </item>
    <item deal="true">
      <listing>Winter Daze</listing>
      <price>39.99</price>
    </item>
  </category>
  <category name="Thank You">
    <item>
      <listing>Surprise</listing>
      <price>39.99</price>
    </item>
    <item>
      <listing>Pop of Colour</listing>
      <price>39.99</price>
    </item>
    <item deal="true">
      <listing>Signature Hatbox</listing>
      <price>39.99</price>
    </item>
  </category>
  <category name="New Baby">
    <item>
      <listing>Paradise</listing>
      <price>29.99</price>
    </item>
    <item>
      <listing>Pink Basket</listing>
      <price>39.99</price>
    </item>
    <item>
      <listing>Purple Blooms</listing>
      <price>36.99</price>
    </item>
  </category>
</menu>